<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
        <server>
            <id>vprofile-codertifact-domain-vprofile-code-artifact</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
<profiles>
  <profile>
    <id>vprofile-codertifact-domain-vprofile-code-artifact</id>
    <repositories>
      <repository>
        <id>vprofile-codertifact-domain-vprofile-code-artifact</id>
        <url>https://vprofile-codertifact-domain-337070252184.d.codeartifact.us-east-1.amazonaws.com/maven/vprofile-code-artifact/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<activeProfiles>
        <activeProfile>default</activeProfile>
</activeProfiles>
<mirrors>
  <mirror>
    <id>vprofile-codertifact-domain-vprofile-code-artifact</id>
    <name>vprofile-codertifact-domain-vprofile-code-artifact</name>
    <url>https://vprofile-codertifact-domain-337070252184.d.codeartifact.us-east-1.amazonaws.com/maven/vprofile-code-artifact/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
